<a href="https://colab.research.google.com/github/SebastianPicazo/THC2/blob/main/Clase10deOctubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020

}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [3]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [4]:
diccionario = {'python': 2.7, 'zope': 2.13, 'plone': '5'.7}

l=[]
for i in diccionario.keys():
    l.append(diccionario[i])

print(l)

[2.7, 2.13, 5.7]

In [5]:
import pandas as pd

# Crear un diccionario con datos
datos = {
    'Nombre': ['Juan', 'María', 'Pedro', 'Luisa'],
    'Edad': [25, 28, 22, 30],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Sevilla']
}

# Crear un DataFrame a partir del diccionario
dataframe = pd.DataFrame(datos)

# Mostrar el DataFrame
print(dataframe)

  Nombre  Edad     Ciudad
0   Juan    25     Madrid
1  María    28  Barcelona
2  Pedro    22   Valencia
3  Luisa    30    Sevilla

In [7]:
# Crear una tupla
mi_tupla = (1, 2, 3, "Hola", True)
print(mi_tupla)

(1, 2, 3, 'Hola', True)

In [8]:
# Acceder a elementos de la tupla por índice
print(mi_tupla[0])  # Imprime: 1
print(mi_tupla[3])  # Imprime: Hola

1
Hola

In [9]:
frutas= ("Manzana", "Uva", "Melon", "Sandía")
for fruta in frutas:
  print(fruta)

Manzana
Uva
Melon
Sandía

In [12]:
if 'Manzana' in frutas:
    print('Sí, la manzana está en la tupla.')

Sí, la manzana está en la tupla.

In [13]:
def mi_funcion():
  print("Hola, te saludo desde la función")

In [14]:
mi_funcion()

Hola, te saludo desde la función

In [15]:
def mi_funcion_nueva(fname):
    print("Hola "+fname +" te saludo desde la función")

mi_funcion_nueva("Sebastián")

Hola Sebastián te saludo desde la función

In [16]:
def Nombre(fname,lname):
    print("Hola "+fname + " " + lname+ " te saludo desde la función")

Nombre("Sebastián","PC")

Hola Sebastián PC te saludo desde la función

In [17]:
def mi_funcion(*kids):
    print("El niño menor es " + kids[2])

mi_funcion("Emil", "Tobias", "Linus")

El niño menor es Linus

In [ ]:
def mi_funcion(**chamaco):
  print("El apellido es " + chamaco["Ape"])

mi_funcion(nombre = "Aquiles", Ape = "Vapython")

Ejercicio 1

In [30]:
A=[3,4,5,6,7]
B=[6,9,8,6,2]
def sum_vec(A,B):
  if len(A) == len(B):
    n=len(A)
    C= n*[0.0]
    for i in range(n):
      C[i]=A[i]+B[i]
    print(C)

In [31]:
sum_vec(A,B)

[9, 13, 13, 12, 9]